{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h1>
              {{ .Params.heading }}
            </h1>
          </div>
          <div class="site-about-description">
            <p>
              {{ .Description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="centered-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2>{{ .Params.new_section_title }}</h2>
        <h4>{{ .Params.new_section_paragraph }}</h4>
        <img src="{{ .Params.new_section_image }}" alt="Mon ikigaï" class="centered-image">
      </div>
    </div>
  </div>
</section>

<section class="site-expertise">
  <div class="container">
    <div class="row">
      {{ with .Params.expertise_title }}
      <div class="col-md-5">
        <div class="section-title">
          <h2>{{ . }}</h2>
          {{ with $.Params.expertise_subtitle }}
          <h3>{{ . }}</h3>
          {{ end }}
          {{ with $.Params.expertise_paragraph }}
          <p>{{ . }}</p>
          {{ end }}
        </div>
      </div>
      {{ end }}

      <div class="col-md-6">
        <ul class="site-expertise-list">
          {{ range .Params.expertise_sectors }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>

      <section class="site-expertise">
        <div class="container">
          <div class="row">
            {{ with .Params.expertise_domaine_subtitle }}
            <div class="col-md-5">
              <div class="section-subtitle">
                <h3>{{ . }}</h3>
                {{ with $.Params.expertise_domaine_paragraph }}
                <p>{{ . }}</p>
                {{ end }}
              </div>
            </div>
            {{ end }}
      
            <div class="col-md-6">
              <ul class="site-expertise-list">
                {{ range .Params.expertise_domaine_sectors }}
                <li>{{ . }}</li>
                {{ end }}
              </ul>
            </div>
      
    </div>
  </div>
</section>


{{ end }}